html {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 50px 0 40px 0;
}

#map {
	width: 100%;
	height: 100%;
	margin: 0;
}

#map .gm-style>.gmnoprint>.gmnoprint div[title="Show drawing"] {put your
	display: none !important;
}

.toolbox {
	position: absolute;
	padding: 10px;
	border-radius: 0px;
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
	z-index: 100;
}

.toolbox input, .toolbox select {
	color: #000;
}

#layerswitcher {
	margin: 0;
	padding: 10px;
	border-radius: 4px;
	background: rgba(0, 60, 136, 0.5);
	list-style-type: none;
}

#map_controls {
	top: 70px;
	right: 20px;
	width: 220px;
}

#map_controls hr {
	margin: 5px 0 5px 0;
}

#assignDiv {
	display: none;
}

#statusDiv {
	height: 40px;
	width: 100%;
	bottom: 0;
}